@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi! Please choose a drink</h1>
    <form method="post">
        <select asp-for="Drink"
                asp-items="Html.GetEnumSelectList<Drink>()"
                onchange="this.form.submit();">
        </select>
    </form>
</div>

@*
    Here we will use Razor syntax to write C# code which will
    generate the layout for the recipe steps.
*@
@if (Model.Drink != Drink.UNSELECTED)
{
    @foreach (String str in @Model.RecipeSteps)
    {
        Int32 i = Model.RecipeSteps.IndexOf(str) + 1;
        <div>
            <h2>Step @i</h2>
            <p>@str</p>
        </div>
    }
}
