@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi! Please choose a drink</h1>
    <form method="post">
        <select asp-for="Drink"
                asp-items="Html.GetEnumSelectList<Drink>()"
                onchange="this.form.submit();">
        </select>
    </form>
</div>
